APP_NAME=Memo
APP_ENV=local
API_HOST=0.0.0.0
API_PORT=8000
ADMIN_BOOTSTRAP_TOKEN=change-me-local-admin-token

POSTGRES_HOST=postgres
POSTGRES_DB=remi
POSTGRES_USER=remi_user
POSTGRES_PASSWORD=remi_password
POSTGRES_PORT=5432

REDIS_HOST=redis
REDIS_PORT=6379
REDIS_PASSWORD=

WORKER_POLL_SECONDS=30
DEFAULT_TIMEZONE=Europe/Berlin
